h1 {
  color: #fe218b;
  text-align: center;
  font-family: "Garamond", serif;
  font-size: 80px;
  
   <!--text-shadow: 1px 1px 2px black, 0 0 25px #f6511d, 0 0 5px #ffb400; -->
}

h4 {
  color: #FF00FF;
  text-align: center;
  font-family: "Garamond", serif;
  font-size: 40px;
}

p {
  color: #00FFFF;
  text-align: center;
  font-family: "Courier New", Times, serif;
  font-size: 12px;
}

body {
   text-align: center;
   background: linear-gradient(0, #DC143C, #1E90FF);
}




